:root {
    --primary: #fcfcf3;
    --secondary: #CA9393;
    --tertiary: black;
    --font: menlo;
    --normal: normal;
};

*{
    margin: 0px;
    padding:0px;
}

body{
    display: flex;
    flex-direction: row;
    background-color: var(--primary)
}

.wtf {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: right;
    align-content: center;
}

.name{
    color: var(--primary);
    font-family: menlo;
    margin-left: -50px;
    justify-content: space-between;
    background-color: var(--secondary);
    border-color: solid var(--secondary);
}

.nav-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--secondary);
    align-items: center;
    width: 100vw;
}

.nav-item{
    font: var(--font);
    color: var(--secondary);
}

.nav-link{
    color: black;
    font-weight: lighter;
    font-family: menlo;
    text-decoration: none;
}

.active {
    color: var(--primary);
    text-decoration: underline;
}

.nav-link:hover{
    color: var(--primary);
}

.footer{
    color: var(--tertiary)
}

a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
}


a:hover {
    color: var(--secondary);
    cursor: pointer;
    text-decoration: none;
}





@media screen and (max-width: 768px) {
    body {
       
        flex-direction: column;

    }
    
    .wtf {
        margin-left: 0px;
        margin-top: 0px;
        display: flex;
        justify-content: right;
        align-content: center;
    }

    .nav-tabs{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--secondary);
        align-items: center;
        width: 100vw;
        line-height: 30px;
    }
}